{% extends 'base.html' %}

{% block title %}
    Bien joué Inspect.eur.rice !
{% endblock %}


{% block body %}

    <body style="background-image: url('/static/img/easterEggBg.jpg');background-repeat: no-repeat; 
    background-position: center; background-size: cover;">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    

        <div style="width: 100%; display: flex; justify-content: center;  margin-top: 1%; margin-bottom: 1%;">
            <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/enquete'">Retourner à l'enquête.</button>
            </div>
            
        <div style="display: flex; justify-content:center"><img src="/static/img/easterEggST.png"  ></div>
        
    </body>

{% endblock %}